body{
    font-family: Arial, Helvetica, sans-serif;
}

.hero{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    /* background-color: coral; */
    /* background-image: url(./360_F_244567019_SRb5i27LHFzblS6dpOhDUu8nsdRgmgh5.jpg); 
     background-size: 200px;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: 200px 500px; */

     /* background: url(./360_F_244567019_SRb5i27LHFzblS6dpOhDUu8nsdRgmgh5.jpg) no-repeat center/cover; */
     background-attachment: scroll;
     background: linear-gradient(to bottom,lightpink,white);
     background: linear-gradient(to left,lightblue,lightyellow);
     background: linear-gradient(to top left,rgb(241, 140, 140),white);


     
}

.hero h1{
    font-size: 40px;
    margin-bottom: 20px;
}

.hero p{
    text-align: center;
    font-size: 2rem;
}