/* Type Selectors */


/* body , html{
    font-family: Arial, sans-serif;
    border: 3px solid rebeccapurple;
} */

body{
    font-family: 'Poppins',sans-serif;
    line-height: 30px;
}

p{
    font-weight:400;
}

/* h2{
    color: red;
    font-size: 30px;
} */

h2{
font-size: x-large;
font-size: 700;
font-style: normal;
font-variant:normal;

/* font: italic small-caps 700 26px Arial; */
text-transform: uppercase;
text-indent: 20px;
letter-spacing: 2px;
word-spacing: 5px;
text-align:left;
}

a{
    color: blue;
    text-decoration: none;
}

/* class Selectors */
.Sporty{
color: chocolate;
}

.Casual{
color: cadetblue;
}

.Formal{
color: crimson;
}

/* Id Selectors */
#container{
    max-width: 300px;
    margin: 100px auto;
    padding: 30px;
}

/* Multiple Style */
/* .Sporty,.Casual{
    font-size: 15px;
} */

/* Descedant Style */

/* #container p{
    background: blue;
} */

/* All paragraph outside of containers will be red */
/* p{
    background-color: red;
} */