body{
    font-family: Arial,sens-serif;
}

/* .container h2{
    color: red;
} */


    /* Id */
    #heading{
        color: yellow;
    }

    /* Class */
    .heading{
    color: blueviolet;
    }

    /* Element */
    h2{
        color:blue;
    }

/* Highest Specificity */

    #heading{
        color:rgb(43, 255, 0) !important;
    }
    h2{
        color:blue !important;
    }
